@using App.Core.Entities;
@model Category

<div class="content-wrapper">
    <div class="row">

        <div class="col-lg-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Category Detail:</h2>
                    <div class="d-flex justify-content-evenly">
                        <h4>Category Name:</h4>
                        <h4>@Model.Name</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>